.icon {
  display: inline-block;
  color: #444444;
  fill: currentColor;
}
.icon-logo {
  width: 70px;
  height: 80px;
  color: currentColor;
  float: left;
  margin-right: 10px;
}

.logo-link_footer {
  margin-top: 17px  ;
  display: block;
  color: #afb9d6;
  .icon-logo{
    width: 45px;
    height: 55px;
  } 

  .site-title{
    font-size: 28px;
  }

  .site-subtitle{
    font-size: 7px;
    letter-spacing: 0.2px;
  }

}

#icon-logo .path1 {
  fill: currentcolor;
}
#icon-logo .path2 {
  fill: currentcolor;
}
#icon-logo .path3 {
  fill: currentcolor;
}
#icon-logo .path4 {
  fill: currentcolor;
}
#icon-logo .path5 {
  fill: currentcolor;
}
#icon-logo .path6 {
  fill: currentcolor;
}
#icon-logo .path7 {
  fill: currentcolor;
}
#icon-logo .path8 {
  fill: currentcolor;
}

.icon-phone{
  height: 26px;
  width: 26px;
  color: #203572;
}

.icon-email{
  width:  14px;
  height: 10px;
  color: #203572;
}

.icon-tag{
  width: 14px;
  height: 19px;
  color: #203572;
}

.b-options-list__icon .icon{
  height: 28px;
  width: 28px;
  color: $blue;
  margin: auto;
  display: block;
  margin-top: 8px;
}

.b-service__icon .icon{
  height: 70px;
  width: 67px;
  color: $blue;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.b-service__icon{
  overflow: hidden;
  .icon-delivery{
   margin-left: 31px;
   margin-top: 22px;
 }
 .icon-package{
  margin-left: 33px;
  margin-top: 26px;
  width: 60px;
}
.icon-house{
  width: 60px;
  margin-left: 34px;
  margin-top: 26px;
}

.icon-awards{
  height: 73px;
  margin-top: 24px;
  margin-left: 29px;
}

.icon-map{
  width: 100px;
  margin-top: 21px;
}
}

body{
  // min-height: 1000%; height: auto;
  padding-bottom: 123px;
  min-height: 100%;
  height: auto;
}


.bordered-wrap{
  padding-bottom: 0px;
  display: inline-block;
  border-bottom: 2px dashed #3a529a;
}



.header-wrap{
  padding: 23px 0;
  background:$blue;
}

.logo-link{
  position: relative;
  z-index: 1;
  &_header{
    color: $white;
    &:hover{
      margin-top: 5px;
      color: #cdf; 
      // opacity: 0.8;
    }
  }
}

.site-title{
  color: inherit;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  padding-top: 5px;
}

.site-subtitle{
  color: inherit;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.site-slogan{
  color: $white;
  margin: 0;
  margin-top: 10px;
  // margin-left: -80px;
  line-height: 1.2;
  padding: 10px;
  border-radius: $global-radius;
  font-style: italic;
  font-size: 15px;
  background: #2d4487;
  max-width: 187px;
  position: relative;
  z-index: 2;
}

.site-phones{
  padding-left: 37px; 
  margin-top: 8px;
  &__icon{
    position: absolute;
    width: 26px;
    height: 26px;
    top:20px;
    left: 0;
  }
  &__item{
    display: block;
  }
}

body > .wrap > .row{
  width: 990px !important;
}

.site-addresses{
  margin-top: 6px;
  &__icon{
    vertical-align: middle;
    margin-right: 10px;
  }
  &__item{
    display: block;

  }
  &__text{
    vertical-align: middle;
    text-align: right;
    font-size: 14px;
    &_small{
      font-size: 12px;
    }
  }

}

/* wraps */

.top-bar-wrap{
  background:#2d4487;
}

.slider-wrap{
  height: 425px;
  background:#556694 url('../img/slider-bg.png') center top no-repeat;
}

.skills-wrap{
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 68%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(68%,#f6f6f6), color-stop(100%,#ebebeb));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 68%,#ebebeb 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 68%,#ebebeb 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 68%,#ebebeb 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 68%,#ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 );
  height: 140px;
}

.b-wrap{
  padding: 50px 0 80px 0;
  border-bottom: 1px solid #dcdcdc;
  background:$white;
}

.page-wrap{
  padding-bottom: 90px;
}
/* END wraps */


.b-title{
  text-align: center;
  font-size:30px ;
  &_big{
    font-size: 50px;
  }
  &__text{
    color: #0f0f0f;
    &_blue{
      font-weight: bold;
      color: #3a529a;
    }


  //end b-title__text
}  
}


.page-description{
  margin-bottom: 45px;
}

.editor{
  h1, h2, h3, h4, h5, h6{
    color: $blue;
    font-weight: bold;
  }
  p{
    line-height: 1.3;
  }
}

.button{
  vertical-align: middle;
  line-height: 1;
  overflow: hidden;
  position: relative;
  background: rgb(99,176,26);
  box-shadow: inset 0 -5px 10px #3b790b;
  background: -moz-linear-gradient(top,  rgba(99,176,26,1) 0%, rgba(76,145,19,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,176,26,1)), color-stop(100%,rgba(76,145,19,1)));
  background: -webkit-linear-gradient(top,  rgba(99,176,26,1) 0%,rgba(76,145,19,1) 100%);
  background: -o-linear-gradient(top,  rgba(99,176,26,1) 0%,rgba(76,145,19,1) 100%);
  background: -ms-linear-gradient(top,  rgba(99,176,26,1) 0%,rgba(76,145,19,1) 100%);
  background: linear-gradient(to bottom,  rgba(99,176,26,1) 0%,rgba(76,145,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b01a', endColorstr='#4c9113',GradientType=0 );
  &.em{
    font-style: italic;
  }
  &:before{
    position: absolute;
    content: '';
    height: 1px;
    background:#8ac456;
    width: 100%;
    left: 0;
    top:0px;
  }
  &:hover, &:focus{
    box-shadow: none;
  }
}

.page-title{
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  padding:10px 17px;
  display: inline-block;
  margin: 0 0 40px 0;
  padding-right: 25px; 
  min-width: 170px;
  position: relative;
  background: rgba(58,82,154,1);
  background: -moz-linear-gradient(11deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 65%, rgba(50,71,141,1) 65%, rgba(50,71,141,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(58,82,154,1)), color-stop(65%, rgba(58,82,154,1)), color-stop(65%, rgba(50,71,141,1)), color-stop(100%, rgba(50,71,141,1)));
  background: -webkit-linear-gradient(11deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 65%, rgba(50,71,141,1) 65%, rgba(50,71,141,1) 100%);
  background: -o-linear-gradient(11deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 65%, rgba(50,71,141,1) 65%, rgba(50,71,141,1) 100%);
  background: -ms-linear-gradient(11deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 65%, rgba(50,71,141,1) 65%, rgba(50,71,141,1) 100%);
  background: linear-gradient(11deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 65%, rgba(50,71,141,1) 65%, rgba(50,71,141,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a529a', endColorstr='#32478d', GradientType=1 );
}

.page-title:after {
  background: rgba(58,82,154,1);
  background: -moz-linear-gradient(-1deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 29%, rgba(50,71,141,1) 29%, rgba(50,71,141,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(58,82,154,1)), color-stop(29%, rgba(58,82,154,1)), color-stop(29%, rgba(50,71,141,1)), color-stop(100%, rgba(50,71,141,1)));
  background: -webkit-linear-gradient(-1deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 29%, rgba(50,71,141,1) 29%, rgba(50,71,141,1) 100%);
  background: -o-linear-gradient(-1deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 29%, rgba(50,71,141,1) 29%, rgba(50,71,141,1) 100%);
  background: -ms-linear-gradient(-1deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 29%, rgba(50,71,141,1) 29%, rgba(50,71,141,1) 100%);
  background: linear-gradient(-1deg, rgba(58,82,154,1) 0%, rgba(58,82,154,1) 29%, rgba(50,71,141,1) 29%, rgba(50,71,141,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a529a', endColorstr='#32478d', GradientType=1 );
  content: "";
  height: 46px;
  position: absolute;
  right: -8px;
  top: -11px;
  transform: rotate(15deg);
  width: 44px;
  z-index: -1;
}

.page-title:before{
  content: '';
  position: absolute;
  bottom: 100%;
  right: -15px;
  width: 100%;
  height: 17px;
  z-index: 2;
  width: 100%;
  background:#fff;
}


.breadcrumbs {
  li a{
    border-bottom: 1px solid transparent;
  }
  a:hover{
    color: currentColor;
  }
  li:not(.current) a{
    border-color: #aeb5cf;
  }
  li:not(.current) a:hover{
    border-bottom-color: transparent;
  }
}

/* b-cars */

.b-cars{ 
  height: 215px;
  margin-bottom: 30px;
  border: 1px solid $blue;
  overflow: hidden;
  background:transparent url('../img/car-block-bg.png') left center no-repeat;
  &__img{
    // min-height: 215px;
    position: absolute;
    top:calc(0px + 15px);
    bottom:0;
    left:0 ;
    right: 0; 
    margin: auto;
  }
  &__category{
    padding-right: 15px;
    font-weight: bold; 
    margin-top: 35px;
  }
  &__category-text{
    font-size: 18px;
    color: #0e0e0e;
  }
  &__category-value{
    color: $lightblue;
    display: inline-block;
    word-wrap: break-word;
    width: 100px;
  }
  &__action{
    padding-right: 15px;
    position: absolute;
    bottom:0;
    right:0;
  }
  &__limit{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: #0d0d0d;
    display: inline-block;
  }
  .row, .columns{
    height: 100%;
    position: relative;
  }
}

/* END b-cars */


/* b-guarantees */

.b-guarantees{
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc;
  &:first-child 
  &__img{
    margin-top: -100px;
  }
  
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  &__text{
    color: #2e242f;
    line-height: 1.2;
  }
}

/*  END b-guarantees */


/* b-article */

.b-article{
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 33px;  
  padding-bottom: 11px;

  &__date{
    color: $white;
    font-size: 12px;
    background:$blue;
    display: inline-block;
    padding: 4px;
    line-height: 1;
    margin-bottom: 10px;
  }
  &__title{
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 4px;
  }
  &__excerpt{
    margin-bottom: 0;
  }
  &__link{
    color: $blue;
  }
}

/* END b-article */

/* b-service */

.b-service{
  margin-bottom: 70px;
  &__title{
    font-size: 18px;
    font-weight: bold;
    color: $blue;
    margin: 0 0 8px 0;
    line-height: 1;
  }
  &__icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #f4f4f4;
    box-shadow: inset 0 0 6px #ececec;
  }
  &__left-padding{
    padding-left: 0;
  }
  &__description{
    p{

      line-height: 1.3;
    }
  }
}

/* END b-service */


/* -prices */

.b-price{
  height: 214px;
  background:url('../img/price-bg.png') left center no-repeat;
  border: 1px solid $blue;
  padding: 15px 50px 15px 55px;
  margin-bottom: 22px;
  &__category{
    width:88px ;
    border-radius: 50%;
    text-align: center;
    height:88px ;
    border: 2px solid $white;
    line-height: 1;
    padding-top: 11px;
    margin-bottom: 9px;
  }
  &__category-number{
    font-weight: bold;
    color: $white;
    line-height: 1;
    display: block;
    text-align: center;
    font-size: 35px;
  }
  &__category-text{
    font-size: 12px;
    color: $white;
  }
  &__title{
    color: $white;
    font-size: 16px;
    line-height: 1.3;
    margin-left: 6px;
    text-align: center;
    width: 80px;
    margin-bottom: 5px;
    min-height: 42px;
  }
  &__title-text{
    display: table-cell;
    vertical-align: middle;
    height: 41px;
  }
  &__image{
    margin: 0;
    position: relative;
    height: 100%;
  }
  &__img{
    position: absolute;
    top:calc(0px + 15px);
    left:0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 97%;
  }
  .row, .columns{
    height: 100%;
  }
}

.b-options-list{
  list-style-type: none;
  margin: 0;
  line-height: 1;
  margin-top: 10px;
  *{
    vertical-align: middle;
  }
  &__key{
    clear: left;
    margin-right: 5px;
    height: 48px;
    margin-bottom: 11px;
  }
  &__key-text{
    color: #121212;
    font-size: 20px;
    font-weight: bold;
  }
  &__value{
    font-size: 20px;
  }
  &__icon{
    height: 48px;
    float: left;  
    width: 48px;
    border: 1px solid $blue;
    margin-right: 11px;
    display: inline-block;
    border-radius: 50%;
  }
  &__line{
    height: 47px;
    display: table-cell;
  }
}

/* END b-prices */

.b-pagination{
  padding-top: 5px;
}

ul.pagination li a, ul.pagination li button{
  border-radius: 0;
  background:#cdcdcd;
  color: #060606;
}


/* footer */

.footer-wrap{
  position: absolute;
  bottom: 0;
  left:0; 
  height: 123px;
  width: 100%;
  padding: 24px 0;
  background: #4e629f;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background:transparent url('../img/footer-overlay.png') left top repeat;
  }
}

.site-info{
  font-size: 12px;
  color: #dbdbdb;
  line-height: 1.3;
}

/* END footer */