<div class="wrap b-wrap b-wrap_about-command">
  <div class="row">
    <div class="columns small-12">
      <h3 class="b-title b-title_bordered">
        <span class="bordered-wrap">        
          <span class="b-title__text_bordered b-title__text b-title__text_blue">Команда</span>
          <span class="b-title__text_bordered b-title__text">профессионалов</span>
        </span>
        <!-- bordered-wrap -->
      </h3>
      <!-- /.b-title -->
      <div class="b-command">
        <div class="b-command__content">
          <p>На сегодняшний день наша молодая и динамично развивающаяся компания, пополняет клиентскую базу грузоперевозок по Москве и Московской области, а также нарабатывает дружеские партнерские отношения в различных регионах России. Наши сотрудники имеют большой профессиональный опыт, ответят на любые Ваши вопросы, помогут подобрать автотранспорт для перевозки грузов по Москве и России, отвечающий вашим требованиям. Основным  преимуществом нашей компании можно считать соотношение  цены и качества услуги.</p>

          <p>Уважение к заказчику, порядочность и пунктуальность, а также желание идти на компромиссы, принимать гибкие, нестандартные решения стали визитной карточкой нашей компании. Большинство клиентов, обратившись к нам однажды, становятся нашими постоянными партнерами.</p>

          <strong>
            НП групп – Ваш надёжный партнёр в области грузоперевозок по Москве и России!
          </strong>
        </div>
        <!-- /.b-command__content -->
      </div>
      <!-- /.b-command -->
      <!-- /.b-content -->
    </div>
    <!-- /.columns small-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap command-wrap -->