<div class="wrap b-wrap b-wrap_about-command">
  <div class="row">
    <div class="columns small-12">
      <h3 class="b-title b-title_bordered">
        <span class="bordered-wrap">        
          <span class="b-title__text_bordered b-title__text b-title__text_blue">Команда</span>
          <span class="b-title__text_bordered b-title__text">профессионалов</span>
        </span>
        <!-- bordered-wrap -->
      </h3>
      <!-- /.b-title -->
      <div class="b-content">

      </div>
      <!-- /.b-content -->
    </div>
    <!-- /.columns small-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap command-wrap -->