<div class="wrap footer-wrap">
  <div class="row">
    <div class="columns small-3">
      <a href="{{site.baseurl}}" class="logo-link logo-link_footer clearfix">
        <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
        <h1 class="site-title site-title_header">{{site.title}}</h1>
        <h2 class="site-subtitle site-subtitle_header">{{site.description}}</h2>
      </a>
    </div>
    <!-- /.columns small3 -->
    <div class="columns small-5 end">
      <div class="site-info site-info_footer">
        © Транспортная компания ООО «НП Групп, 2001—2014 <br>
        Москва, 2-ой Иртышский проезд, д. 9А<br>
        Телефон:  8 (495) 226 30 09, 8 (926) 060 64 44,<br>
        E-mail: info-npgrupp@yandex.ru </br>
        ОГРН 5147746257280
    </div>
      <!-- /.site-info site-info_footer -->
    </div>
    <!-- /.columns small4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap footer-wrap -->