<div class="small reveal-modal" id="leaveReview" data-reveal>
  <div class="columns small-10 small-centered">
    <div class="b-modal">
      <h5 class="b-modal__title small-text-center">Оставить отзыв</h5>
      <!-- /.b-modal__title -->

      <div class="b-form b-form_modal">
        <form action="">
          <div class="b-form__line">
            <label for="" class="b-form__label small-text-left">Ваше имя</label>
            <input type="text" name="" id="" class="b-form__input-text radius" placeholder="Дмитрий">
          </div>
          <!-- /.b-form__line -->
          <div class="b-form__line">
            <label for="" class="b-form__label small-text-left">Ваш телефон</label>
            <input type="text" name="" id="" class="b-form__input-text radius" placeholder="+7 495 555 44 33">
          </div>
          <!-- /.b-form__line -->
          <div class="b-form__line textarea">
            <label for="" class="b-form__label small-text-left">Отзыв</label>
            <textarea type="text" name="" id="" class="b-form__input-text radius" placeholder="Ваше сообщение"></textarea>
          </div>
          <!-- /.b-form__line -->
<!--           <div class="b-form__note b-note">
            Укажите Ваши данные и наш оператор свяжется с Вами 
            и сообщит  <strong class="blue">точный рассчет доставки</strong>
          </div> -->
          <!-- /.b-form__note -->
          <button data-reveal-id="success" type="submit" class="b-form__input-submit round large button">Отправить</button>
        </form>
      </div>
      <!-- /.b-form b-form_modal -->

    </div>
    <!-- b-modal -->
  </div>
  <!-- columns.small-10 -->
  <a class="close-reveal-modal">
    <svg class="icon icon-close">
      <use xlink:href="#icon-close"></use>
    </svg>
  </a>
</div>
<!-- /#callBack reveal-modal -->