<div class="small reveal-modal" id="success" data-reveal>
  <div class="columns small-10 small-centered">
    <div class="b-modal">
      <h5 class="b-modal__title small-text-center">Спасибо!</h5>
      <!-- /.b-modal__title -->

      <div class="panel success radius">
        Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Последний lorem вершину несколько над пояс даже, диких деревни! Даль путь инициал там текст вопроса <strong class="blue">но грустный сих пустился деревни.</strong>
      </div>
      
    </div>
    <!-- b-modal -->
  </div>
  <!-- columns.small-10 -->
   <a class="close-reveal-modal">
    <svg class="icon icon-close">
      <use xlink:href="#icon-close"></use>
    </svg>
  </a>
</div>
<!-- /#callBack reveal-modal -->