<div class="wrap b-wrap b-wrap_reviews">
  <div class="row">
    
    <div class="columns small-12">
      <h3 class="b-title b-title_big">
        <span class="b-title__text b-title__text_blue">Отзывы</span>
        <span class="b-title__text">клиентов</span>
      </h3>
      <!-- /.b-title b-title_big -->
      <div class="b-reviews">
        <div class="b-reviews__carousel columns small-10 centered">
          
        </div>
        <!-- /.reviews-carousel -->
        <a href="" class="b-reivews__carousel__actions">
          
        </a>
        <a href="" class="b-reivews__carousel__actions">
          
        </a>
        <div class="b-reviews__action small-text-center"> 
          <a href="#" class="round b-reviews__add-review o-button">Добваить отзыв</a>
        </div>
        <!-- /.reviews-action -->
      </div>
      <!-- /.reviews -->
    </div>
    <!-- /.columns small-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap reviews-wrap -->