<div class="wrap b-wrap b-wrap_shipping-direction">
  <div class="row">
    <div class="columns small-12">
      <h3 class="b-title b-title_big">
        <span class="b-title__text">Направления</span>
        <span class="b-title__text b-title__text_blue">доставки</span>
      </h3>
      <!-- /.b-title b-title_big -->
      <div class="b-content">
        
      </div>
      <!-- /.b-content -->
    </div>
    <!-- /.columns small-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap reviews-wrap -->