<div class="wrap b-wrap b-wrap_shipping-direction">
  <div class="row">
    <div class="columns small-12">
      <h3 class="b-title b-title_big">
        <span class="b-title__text sharp ">Направления</span>
        <span class=" sharp b-title__text b-title__text_blue">доставки</span>
      </h3>
      <!-- /.b-title b-title_big -->
      <div class="row">
        <div class="columns small-6">
          <figure class="b-direction__map">
            <img class="b-direction__image" src="{{site.baseurl}}img/map.png" alt="">
          </figure>
          <!-- /.direction-map -->
        </div>
        <!-- /.columns small6 -->
        <div class="columns small-6">
          <form action="" class="b-direction">
            <div class="b-direction__select">
              <select name="" id="" class="direction-select js-selectDirection">
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
                <option value="Москва - колуга">Москва - колуга</option>
              </select>
            </div>
            <!-- /.b-direction__select -->
            <span class="b-direction__text">
              Просмотрите наши направления доставки и выберите подходящее Вам
            </span>

            <div class="b-direction__action">
              <button type="submit" data-reveal-id="calculate"  class="button round large">Оформить   доставку</button>
            </div>
            <!-- /.b-direction__action -->
          </form>
          <!-- b-direction -->
        </div>
        <!-- /.columns small6 -->
        <div class="columns small-12 b-direction__content">
          <h3 class="b-direction__title">
            Москва - Калуга
          </h3>
          <div class="b-direction__description">
            Калуга – крупный трехсоттысячный город, расположенный на обоих берегах Оки. Это административный центр области в центральной части России. Подтвержденная и принятая дата основания города - конец XIV века. 
             Нынешняя Калуга - это крупный промышленный, культурный и транспортный центр. 
             Близость от Москвы - всего 160 км – обуславливает интенсивный транспортный поток и развитие города. Из столицы грузы идут транзитом всего за несколько часов в зависимости от перегруженности федеральной магистрали М3 «Украина». Они следуют через город в направлении Брянска и далее на Украину. Также здесь сходятся трассы Р132, Р92 и др.
             Мы предлагаем быстрые и удобные грузоперевозки в направлении Калуги-Брянска. Юго-западный маршрут считается наиболее загруженным для перевозок по России. Это обусловлено инфраструктурой городов центральной России. В Калуге развито автомобиле- и машиностроение, электротехническая, электронная промышленность и предприятия пищевого комплекса. Их снабжение требует ритмичной и интенсивной загрузки.
             Наша компания предлагает выгодные тарифы на Калужском направлении. На сайте грузоперевозок компании вы можете подробно их изучить.  Расчет перевозок в онлайн-режиме удобный сервис для новичков.
             Мы готовы осуществить перевозку грузов на любые расстояния с одинаковым качеством сервиса. Отправляя свой груз в Калугу, обращайтесь к проверенным перевозчикам. 
          </div>
        </div>
        <!-- /.columns small-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.columns small-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap reviews-wrap -->