<div class="wrap skills-wrapper">
  <div class=" skills-wrap">
  <div class="row">
    <div class="columns small-3">
      <div class="b-skills">
        <svg class="icon icon-hand b-skills__icon"> 
          <use xlink:href="#icon-hand"></use>
        </svg>
        <div class="b-skills__description">
          <span class="sharp b-skills__text-bold">Выгодные тарифы </span>
          <span class="sharp b-skills__text">для наших клиентов</span>
        </div>
        <!-- /.b-skills__description -->
      </div>
      <!-- /.b-skills -->
    </div>
    <!-- /.columns small-4 -->
    <div class="columns small-4 small-push-1 b-skills_bordered">
      <div class="b-skills b-skills_middle">
        <svg class="icon icon-deadline b-skills__icon">
          <use xlink:href="#icon-deadline"></use>
        </svg>
        <div class="b-skills__description">
          <span class="sharp b-skills__text">Соблюдение всех</span>
          <span class="sharp b-skills__text-bold">сроков доставки</span>
        </div>
        <!-- /.b-skills__description -->
      </div>
      <!-- /.b-skills -->
    </div>
    <!-- /.columns small-4 -->
    <div class="columns small-3">
      <div class="b-skills">
        <svg class="icon icon-services b-skills__icon">
          <use xlink:href="#icon-services"></use>
        </svg>
        <div class="b-skills__description">
          <span class="sharp b-skills__text-bold">Полный комплекс</span>
          <span class="sharp b-skills__text">транспортных услуг</span>
        </div>
        <!-- /.b-skills__description -->
      </div>
      <!-- /.b-skills -->
    </div>
    <!-- /.columns small-4 -->
  </div>
  <!-- /.row -->
  </div>
  <!-- skills-wrap -->
</div>
<!-- /.wrap reviews-wrap -->