<div class="wrap b-wrap skilss-wrap">
  <div class="row">
    <div class="columns small-4">
      <div class="b-skills">
        
      </div>
      <!-- /.b-skills -->
    </div>
    <!-- /.columns small-4 -->
    <div class="columns small-4">
      <div class="b-skills">
        
      </div>
      <!-- /.b-skills -->
    </div>
    <!-- /.columns small-4 -->
    <div class="columns small-4">
      <div class="b-skills">
        
      </div>
      <!-- /.b-skills -->
    </div>
    <!-- /.columns small-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap reviews-wrap -->