<div class="b-slider-item">
  <div class="columns small-5">
    <div class="b-form b-form_slider">
      <div class="b-form__title b-form__title_big">Доставка груза по России</div>
      <!-- /.b-form__title b-form__title_big -->
      <form action="">
        <fieldset>
          <div class="b-form__line">
            <label for="form_from" class="b-form__label">Откуда</label>
            <input id="form_from" type="text" name="" id="" class="b-form__input-text  radius">
          </div>
          <!-- /.b-form__line -->
          <div class="b-form__line"> 
            <label for="form_to" class="b-form__label">Куда</label>
            <input id="form_to" type="text" name="" id="" class="b-form__input-text radius ">
          </div>
          <!-- /.b-form__line -->
          <div class="b-form__line">
            <label for="form_weight" class="b-form__label">Вес и объем</label>
            <input id="form_weight" type="text" name="" id="" class="b-form__input-text  radius">
          </div>
          <!-- /.b-form__line -->
          <button class="button round lighter large" type="submit">Рассчитать  заказ</button>
        </fieldset>
      </form>
    </div>
    <!-- /.b-form b-form_slider -->
  </div>
  <!-- /.columns small-5 -->
  <div class="columns small-7">
    <figure class="b-slider-img">

    </figure>
    <!-- /.b-slider-img -->
  </div>
  <!-- /.columns small-7 -->
</div>
<!-- /.row -->
