<div class="wrap slider-wrap">


    <div class="row">

      <div class="columns small-12 slider-wrap">
        <div class="slider" id="slider">

          {% include slide1.html %}
          {% include slide2.html %}
          {% include slide3.html %}

        </div>
        <!-- /#slider.div slider -->

        <div class="b-slider-arrows">
          <a href="" class="b-slider-arrows__item b-slider-arrows__item_left js-sliderPrev">
            <svg class="icon icon-arrow-l">
              <use xlink:href="#icon-arrow-l"></use>
            </svg>
          </a>
          <a href="" class="b-slider-arrows__item b-slider-arrows__item_right js-sliderNext">
            <svg class="icon icon-arrow-r">
              <use xlink:href="#icon-arrow-r"></use>
            </svg>
          </a>
        </div>
        <!-- /.b-slider-arrows -->
      </div>
      <!-- columns -->
    </div>
    <!-- row -->

</div>
<!-- /.wrap slider-wrap -->