<div class="b-slider-item row collapse">
  <div class="columns small-5">
    <div class="b-form b-form_slider">
      <div class="b-form__title b-form__title_big">Доставка груза по России</div>
      <!-- /.b-form__title b-form__title_big -->
      <form action="">
          <div class="b-form__line">
            <label for="form_from" class="b-form__label">Откуда</label>
            <input id="form_from" type="text" name="" id="" class="b-form__input-text  radius" placeholder="Москва">
          </div>
          <!-- /.b-form__line -->
          <div class="b-form__line"> 
            <label for="form_to" class="b-form__label">Куда</label>
            <input id="form_to" type="text" name="" id="" class="b-form__input-text radius " placeholder="Уфа">
          </div>
          <!-- /.b-form__line -->
          <div class="b-form__line">
            <label for="form_weight" class="b-form__label">Вес и объем</label>
            <input id="form_weight" type="text" name="" id="" class="b-form__input-text  radius" placeholder="25 кг   /   0.1 м3">
          </div>
          <!-- /.b-form__line -->
          <button class="button b-form__input-submit round lighter large" type="submit">Рассчитать  заказ</button>
      </form>
    </div>
    <!-- /.b-form b-form_slider -->
  </div>
  <!-- /.columns small-5 -->
  <div class="columns small-7">
    <figure class="b-slider-img">
        <img src="{{site.baseurl}}img/slide-img_2.png" alt="">
    </figure>
    <!-- /.b-slider-img -->
  </div>
  <!-- /.columns small-7 -->
  <div class="b-slider-text">
    <div class="b-slider-text__item b-slider-text__item_1">Скорость!</div>
    <div class="b-slider-text__item b-slider-text__item_2">Надежность!</div>
    <div class="b-slider-text__item b-slider-text__item_3">Гибкие цены!</div>
  </div>
</div>
<!-- /.row -->