<div class="wrap b-wrap b-wrap_steps">
  <div class="row">
  <h3 class="b-title b-title_big">
     <span class="b-title__text b-title__text_blue">Как мы</span>
     <span class="b-title__text">работаем ?</span>
  </h3>
  <!-- /.b-title b-title_big -->
    <div class="small-12">
      <div class="row collapse">
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
      </div>
      <!-- /.collapse -->
    </div>
    <!-- /.small-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap steps -->