<div class="wrap b-wrap b-wrap_steps">
  <div class="row">
    <h3 class="b-title b-title_big b-title_steps">
     <span class="b-title__text  sharp">Как мы</span>
     <span class="b-title__text b-title__text_blue sharp">работаем ?</span>
   </h3>
   <!-- /.b-title b-title_big -->
   <div class="columns small-12">
    <div class="b-steps-wrapper clearfix">
      <div class="b-steps b-steps_1 small-text-center">
       <div class="b-steps__icon">
         <svg class="icon icon-form">
           <use xlink:href="#icon-form"></use>
         </svg>
         <!-- /.icon icon-form -->
       </div>
       <!-- /.b-steps__icon -->
       <div class="b-steps__index">1.</div>
       <!-- /.b-steps__index -->
       <div class="b-steps__description sharp">
         Заполните форму или свяжитесь с нами по телефону
       </div>
       <!-- /.b-steps__description sharp -->
     </div>
     <!-- /.b-steps -->

     <div class="b-steps b-steps_2 small-text-center">
      <div class="b-steps__icon">
        <svg class="icon icon-businessman">
          <use xlink:href="#icon-businessman"></use>
        </svg>
        <!-- /.icon icon-businessman -->
      </div>
      <!-- /.b-steps__icon -->
      <div class="b-steps__index">2.</div>
      <!-- /.b-steps__index -->
      <div class="b-steps__description sharp">
        Менеджер свяжется с Вами для уточнения деталей
      </div>
      <!-- /.b-steps__description sharp -->
    </div>
    <!-- /.b-steps -->


    <div class="b-steps b-steps_3 small-text-center">
      <div class="b-steps__icon">
        <svg class="icon icon-track">
          <use xlink:href="#icon-track"></use>
        </svg>
        <!-- /.icon icon-track -->
      </div>
      <!-- /.b-steps__icon -->
      <div class="b-steps__index">3.</div>
      <!-- /.b-steps__index -->
      <div class="b-steps__description sharp">
        Подбираем машину для Вас и отправляем груз
      </div>
      <!-- /.b-steps__description sharp -->
    </div>
    <!-- /.b-steps -->


    <div class="b-steps b-steps_4 small-text-center">
      <div class="b-steps__icon">
        <svg class="icon icon-profit">
          <use xlink:href="#icon-profit"></use>
        </svg>
        <!-- /.icon icon-profit -->
      </div>
      <!-- /.b-steps__icon -->
      <div class="b-steps__index">4.</div>
      <!-- /.b-steps__index -->
      <div class="b-steps__description sharp">
        Груз доставлен! Вы счастливы!
      </div>
      <!-- /.b-steps__description sharp -->
    </div>
    <!-- /.b-steps -->
  </div>
  <!-- b-sterp-wrap -->
</div>
</div>
<!-- /.row -->
</div>
<!-- /.wrap steps -->