<div class="wrap steps">
  <div class="row">
    <columns class="small-12">
      <row class="collapse">
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
        <div class="columns small-4">
          <div class="steps__item">
            
          </div>
          <!-- /.steps__item -->
        </div>
        <!-- /.columns small-4 -->
      </row>
      <!-- /.collapse -->
    </columns>
    <!-- /.small-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.wrap steps -->