<div class="wrap top-bar-wrap">
  <div class="row">
    <div class="columns large-10">
      <nav class="top-bar" data-topbar role="navigation"> 
       <ul class="title-area">
       <li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
        <li class="name">
          <!-- <h1><a href="#">My Site</a></h1> -->
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      </ul> 
      <section class="top-bar-section"> 
        <!-- Left Nav Section --> 
        <ul class="left">
          {% for nav in site.data.navigation.top-nav %}
          {% assign current = page.url | replace: '/', '' %}
          <li {% if nav.url == current %} class="active" {% endif %}><a href="{{site.baseurl}}{{nav.url}}">{{nav.title}}</a></li> 
          {% endfor %}
        </ul> 
      </section> 
      <!-- top-bar-section -->
    </nav>
    <!-- top-bar -->
  </div>
  <!-- columns large-10 -->
</div>
<!-- row -->
</div>
<!-- /.wrap-navigation-wrap -->