<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation</title>
  <link rel="stylesheet" href="{{site.baseurl}}css/app.css" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <script src="{{site.baseurl}}js/vendor/modernizr.js"></script> 
</head>
<body>

  {% include icons.svg %}



  <div class="wrap header-wrap">
    <div class="row">
      <div class="columns large-12">
        <div class="row collapse">

          <div class="columns large-4">
            <a href="{{site.baseurl}}" class="logo-link logo-link_header clearfix">
              <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
              <h1 class="site-title site-title_header">{{site.title}}</h1>
              <h2 class="site-subtitle site-subtitle_header">{{site.description}}</h2>
            </a>
          </div>
          <!-- /.columns columns-4 -->


          <div class="columns large-3 left">
            <h3 class="site-slogan">
              {{site.slogan}}
            </h3>
          </div>
          <!-- /.columns large-3 -->

          <div class="columns large-2 right">
            <div class="site-phones">
              <span class="site-phones__icon">
                <svg class="icon icon-phone">
                  <use xlink:href="#icon-phone"></use>
                </svg>
              </span>
              <!-- phone-icon -->
              <a href="tel:+84952263009" class="site-phones__item">8 (495) 226 30 09</a>
              <a href="tel:+89260606444" class="site-phones__item">8 (926) 060 64 44</a>
            </div>
            <!-- site-phones -->
          </div>
          <!-- columns.large-2 -->

          <div class="columns large-3 right">
            <div class="site-addresses site-addresses_top">
              <a href="mailto:info-npgrupp@yandex.ru" class="site-addresses__item">
                <svg class="icon icon-email site-addresses__icon">
                  <use xlink:href="#icon-email"></use>
                </svg>
                <span class="site-addresses__text">info-npgrupp@yandex.ru</span>
              </a>
              <a href="http://google.com/maps" target="_blank" class="site-addresses__item">
                <svg class="icon icon-tag site-addresses__icon">
                  <use xlink:href="#icon-tag"></use>
                </svg> 
                <span class="site-addresses__text site-addresses__text_small">2-ой Иртышский проезд, д. 9А</span>
              </a>
            </div>
            <!-- /.site-addresses site-addresses_top -->
          </div>
          <!-- /.columns large-2 right -->

        </div>
        <!-- row.collapse -->
      </div>
      <!-- columns.large-12 -->


    </div>
    <!-- /.row -->
  </div>
  <!-- /.wrap-header-wrap -->


  <script src="{{site.baseurl}}js/vendor/jquery.js"></script>
  <script src="{{site.baseurl}}js/foundation.min.js"></script>
  <script src="{{site.baseurl}}js/app.js"></script>
</body>
</html>
