<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="{{site.baseurl}}css/app.css" />
    <script src="{{site.baseurl}}bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    
    <header class="wrap header-wrap">
      <div class="row">
        <div class="top-bar">
          
        </div>
        <!-- /.top-bar -->
      </div>
      <!-- /.row -->
    </header>
    <!-- /.wrap header-wrap -->

    <script src="{{site.baseurl}}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{site.baseurl}}bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.baseurl}}js/app.js"></script>
  </body>
</html>
