<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation</title>
  <link rel="stylesheet" href="{{site.baseurl}}css/app.css" />
  <script src="{{site.baseurl}}js/vendor/modernizr.js"></script>
</head>
<body>
  {% include icons.svg %}



  <div class="wrap header-wrap">
    <div class="row">
      <div class="columns large-5">
        <a href="{{site.baseurl}}" class="logo-link logo-link_header clearfix">
          <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
          <h1 class="site-title site-title_header">{{site.title}}</h1>
          <h2 class="site-subtitle site-subtitle_header">{{site.description}}</h2>
        </a>
      </div>
      <!-- /.columns columns-4 -->
      <div class="columns large-3 left">
        <h3 class="site-slogan">
          {{site.slogan}}
        </h3>
      </div>
      <!-- /.columns large-5 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.wrap-header-wrap -->


  <script src="{{site.baseurl}}js/vendor/jquery.js"></script>
  <script src="{{site.baseurl}}js/foundation.min.js"></script>
  <script src="{{site.baseurl}}js/app.js"></script>
</body>
</html>
